/* 
    New Perspectives on HTML5 and CSS3, 7th Edition
        Tutorial 7
        Case Problem 2
  
        Millennium Computers
        Author: Emmanuel Cortes Castaneda
        Date: 1.17.19  
  
        Filename: mc_forms.css */